<header>
  <a class="logo"
    routerLink="/lista-livros"
    routerLinkActive="active"
    ariaCurrentWhenActive="page"
    aria-label="Página inicial">
    <img
      src="assets/imagens/logo.png"
      alt="Logo da aplicação Buscante">
  </a>
  <nav>
    <a
      routerLink="/sobre"
      routerLinkActive="active"
      ariaCurrentWhenActive="page"
      aria-label="Mais informações">Sobre
    </a>
    <a
      routerLink="/contato"
      routerLinkActive="active"
      ariaCurrentWhenActive="page"
      aria-label="Nosso contacto">Contato
    </a>
  </nav>
</header>

